<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminlogin</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="static/style.css">
</head>

<body class="section">

    <div class="form-box-admin row">
        <div class="col-md-6">
            <h2 id="h2admin"> Admin Login</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p id="loginsuccess">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('adminlogin')}}" method="POST" id="login" class="input-group"
                novalidate="novalidate">


                <div class="control-group">

                    <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email"
                        required="required">
                    <p class="text-danger help-block" id="velidesion"></p>

                </div>

                <div class="control-group">
                    
                    <input type="password" id="password" name="password" class="form-control form-control-lg "
                        data-validation-regex-regex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                        data-validation-regex-message="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character:"
                        placeholder="Enter Password" required="required" >
                        <span toggle="#password" class="bi bi-eye-slash field-icon toggle-password"></span>
                    
                
                    <p class="text-danger help-block" id="velidesion"></p>
                </div>

                <div class="msg" style="color: red;">{{ msg }}</div>
                <button type="submit" class="submit-btn" id="send_button">Log In</button>
                <a href="/register" class="btn   btn-sm" id="gobackbutton">Register Admin</a>
                <a href="/login" class="btn   btn-sm" id="gobackbutton">Go Back</a>

            </form>
        </div>
        <div class="col-md-6 bgadminlogin">

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#login input').jqBootstrapValidation({
                preventSubmit: true,
            });
        });

        $(".toggle-password").click(function() {

            $(this).toggleClass("bi-eye");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
              input.attr("type", "text");
            } else {
              input.attr("type", "password");
            }
          });

        
    </script>

</body>

</html>