<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Main</title>
</head>

<body class="section ">

    <div class="form-box-home row">
        
        <div class="col-md-6  homeimg1">
            <h1>Login System</h1>
            <p></p>
            <form id="login" class="input-group">
                <a href="/adminlogin" class=" btn btn-lg" id="mainbutton">Admin</a>
                <a href="/userlogin" class="btn  btn-lg" id="mainbutton">User</a>

            </form>
        </div>
        <div class="col-md-6  homeimg2">

        </div>
        
    </div>

</body>

</html>