<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet"
        href="    https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Profile</title>
</head>

<body class="section">
    <div class="navbar">
        <p>Welcome: {{msg}}</p>
        <a href="/userlogout" class="btn btn-primary  btn-sm" id="userlist">Log Out</a>
    </div>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">

                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                               
                                
                                
                                {% if filename %}
                                <div>
                                    <img src="{{ url_for('display_image', filename=filename) }}" style="height: 165px; width: 165px; border-radius: 50%">
                                </div>
                                {% endif %}
                                
                                <h2 class="f-w-600">{{msg}}</h2>
                                <h2 class="f-w-600">{{msge}}</h2>

                            </div>
                            <div>
                                <a href="/checkuserprofile" type="submit" name="fill_information"
                                    value="fillinformation" class="user-btn">Create Profile</a>
                            </div>
                            <div>
                                <a href="/showuserdata" type="submit" name="show_profile" value="showprofile"
                                    class="user-btn"> Profile Edit</a>
                            </div>
                           
                            <div>
                                {% if filename %}
                                <a href="{{ url_for('show_pdf', birth=birth) }}" type="submit" class="user-btn">Show PDF</a>
                                {% endif %}
                            </div>
                            
                            <div>
                                <p id="loginsuccess">{{success}}</p>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                {% for message in messages %}
                                <p id="loginsuccess">{{ message }}</p>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="mt-5" style="color: red;">{{alartmsg}}</div>
                            <div class="mt-5" style="color: red;">{{alertcrate}}</div>
                        </div>

                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600"> User Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                        <label>First Name</label>
                                    </div>
                                        <input type="text" value="{{userprofile.first_name}}" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                        <label>Last Name</label>
                                    </div>
                                        <input type="text" value="{{userprofile.last_name}}" readonly>
                                    </div>
                                </div>

                                <div class="row pt-3">
                                    <div class="col-sm-6 ">
                                        <div>
                                            <label>Date Of Birth</label>
                                        </div>
                                        <input type="date" value="{{userprofile.date_of_birth}}" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <label>Mobile Number</label>
                                        </div>
                                        <input type="text" value="{{userprofile.mobile_number}}" readonly>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-sm-6 ">
                                        <div>
                                            <label>Gender</label>
                                        </div>
                                        <input type="text" value="{{userprofile.gender}}" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <label>Address</label>
                                        </div>
                                        <input type="text" value="{{userprofile.address}}" readonly>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-sm-6 ">
                                        <div>
                                            <label>City</label>
                                        </div>
                                        <input type="text" value="{{userprofile.city}}" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <label>State</label>
                                        </div>
                                        <input type="text" value="{{userprofile.state}}" readonly>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-sm-6 ">
                                        <div>
                                            <label>Zip Code</label>
                                        </div>
                                        <input type="text" value="{{userprofile.zipcode}}" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <label>Profile Update date</label>
                                        </div>
                                        <input type="date" value="{{userprofile.profile_updated_dt}}" readonly>
                                    </div>  
                                                                   
                                </div>
                               
                               
                                
                                
                                


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>